body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bg1 {
  background-image: url("../../../weverse_3-322831489.jpg");
}

.bg2 {
  background-image: url("../../../CSS3เบื้องต้น/รูปประกอบ/weverse_1-300222654.jpg");
}

.text {
  color: white;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
}

.black-block {
  height: 300px;
  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
