    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    table {
      width: 100vw;
      height: 100vh;
      border: 10px solid black;
    }

    td {
      text-align: center;
      vertical-align: middle;
    }

    .color1{
      background-color: lightgreen;
    }
    .color2{
      background-color: lightpink;
    }
